django>=4.0.8
django-environ
requests
schema
django-log-formatter-ecs
notifications-python-client
dj-database-url
psycopg2-binary
django-staff-sso-client
sentry-sdk
geckoboard.py
ratelimit
gunicorn
whitenoise
oauthlib>=3.2.1
# Pinning pip to 21.0.1 as otherwise as bar styles have been removed post 21.0.1 from pip
pip==21.0.1


