django
django-environ
requests
schema
django-log-formatter-ecs
notifications-python-client
dj-database-url
psycopg2-binary
django-staff-sso-client
sentry-sdk
geckoboard.py
ratelimit
gunicorn
whitenoise
oauthlib
certifi
